/****** Utilities *******/
/******* Global CSS *******/
.border-rt {
  border-right: 1px solid #aba7a3;
}
@media only screen and (max-width: 1023px) {
  .border-rt {
    border-right: none;
  }
}

@media only screen and (max-width: 1023px) {
  .fa-info-card-divider {
    display: none;
  }
}

/*******HOME*********/
.showcase-html-section section h2 {
  margin-bottom: 1em !important;
  text-transform: none !important;
  font-family: "tradegothicltstd-boldext", sans-serif;
  color: #492365;
}

.banner--fa-home {
  background-image: url("https://www.weber.edu/wsuimages/FinancialAid/site/images/financial-aid-home-banner-1x.jpg");
  position: relative;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .banner--fa-home {
    background-image: url("https://www.weber.edu/wsuimages/FinancialAid/site/images/financial-aid-home-banner-2x.jpg");
  }
}
@media only screen and (min-width: 1025px) {
  .banner--fa-home {
    max-height: 700px;
  }
}

.fa-title-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 1025px) {
  .fa-title-wrapper {
    padding: 5em;
  }
}
@media only screen and (max-width: 640px) {
  .fa-title-wrapper {
    position: initial;
  }
}

.fa-title__content {
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 640px) {
  .fa-title__content {
    flex-direction: column;
  }
}

.page-title-wrap {
  padding: 0;
}
.page-title-wrap__icon {
  min-width: 300px;
  margin-right: 10px;
}
@media only screen and (max-width: 640px) {
  .page-title-wrap__icon {
    margin: 0 auto;
  }
}
.page-title-wrap__title-block {
  padding-left: 0;
  padding-top: 7px;
}
.page-title-wrap__title-block__title.title-override {
  margin-bottom: 0;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .page-title-wrap__title-block__title.title-override {
    font-size: 35px;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  .page-title-wrap__title-block__title.title-override {
    font-size: 28px;
  }
}
.page-title-wrap__title-text {
  color: #FFF;
  font-size: 32px;
  font-family: "tradegothiclt", sans-serif;
  max-width: 888px;
  justify-content: start;
}
@media only screen and (max-width: 768px) {
  .page-title-wrap__title-text {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 640px) {
  .page-title-wrap__title-text {
    font-size: 1.2em;
  }
}
.page-title-wrap__title-text > p {
  margin-bottom: 0;
}

/************** APPLY STEPS ***************/
:root {
  --counter-size: 2.5em;
}

.user-accounts__list {
  margin-bottom: 33px;
}

.request-accounts ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  list-style: none;
  counter-reset: how-to-counter;
  margin-left: 0;
}
.request-accounts ol li {
  counter-increment: how-to-counter;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  font-family: "tradegothiclt", sans-serif;
  color: #575047;
  background-color: #eeedec;
}
.request-accounts ol li::before {
  margin-bottom: 33px;
  content: counter(how-to-counter);
  color: #FFF;
  font-family: "tradegothiclt-bold", sans-serif;
  border-radius: 50%;
  background-color: #492365;
  font-size: var(--counter-size);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--counter-size) - (var(--counter-size) / 3));
  height: calc(var(--counter-size) - (var(--counter-size) / 3));
}

.fa-apply__buttons {
  margin-top: 30px;
  text-align: center;
}

.fa-disclosures {
  text-align: right;
  font-size: 0.8em;
}

.fa-estimate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.weber.edu/wsuimages/FinancialAid/site/graphics/incoming-freshmen-background-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  padding: 3em 1em;
  min-height: 400px;
  clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 0);
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .fa-estimate {
    background-image: url("https://www.weber.edu/wsuimages/FinancialAid/site/graphics/incoming-freshmen-background-2x.jpg");
  }
}
.fa-estimate__content {
  background: linear-gradient(150deg, rgba(246, 178, 33, 0.7), rgba(250, 216, 144, 0.7));
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 4em;
  clip-path: polygon(100% 0, 100% 83%, 50% 100%, 0 83%, 0 0);
}
.fa-estimate__title {
  color: #492365 !important;
  font-family: "tradegothicltstd-boldext", sans-serif !important;
  font-size: 1.3em !important;
  align-self: stretch;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {
  .fa-estimate__text {
    text-align: center;
  }
}
.fa-estimate__link {
  color: #492365;
  font-family: "tradegothicltstd-boldext", sans-serif !important;
  font-size: 1.3em !important;
  align-self: end;
}
@media only screen and (max-width: 640px) {
  .fa-estimate__link {
    align-self: center;
  }
}

.fa-questions {
  background-color: #492365;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -85px;
  padding: 131px 2em 2em 2em;
}

.fa-info__square {
  padding: 2em;
}
.fa-info__square ul {
  list-style-type: none;
  margin-left: 0;
}

.fa-info__icon {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin-bottom: 20px;
}

.question-box {
  text-align: center;
}
.question-box__title {
  color: #FFFFFF;
}
.question-box__text {
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 1.2em;
}
.question-box__text a {
  color: #FFFFFF;
}
.question-box__text a:hover {
  color: #492365;
  border-bottom: 3px solid #492365;
  background-color: #F0E8F7;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 0 1px 0;
}
.question-box__text a:visited, .question-box__text a.visited {
  color: #FFFFFF;
}

span.script-accent {
  font-family: "just-lovely", cursive;
  font-size: 3em;
  line-height: 1em;
  margin-right: 5px;
}

span.extended-accent {
  font-family: "tradegothicltstd-boldext", sans-serif;
  font-size: 1.5em;
  line-height: 1em;
}

.card-module.-white-theme .card-module__header {
  background-color: #FFFFFF;
}
.card-module__content {
  padding-top: 0;
  font-family: "tradegothiclt-lightoblique", sans-serif;
}

/****** Custom Typography ********/
@font-face {
  font-family: "honest-designer";
  src: local("honest-designer");
  src: url("https://www.weber.edu/wsuimages/ever-upward/fonts/honestscript-regular-webfont.woff2") format("woff2"), url("https://www.weber.edu/wsuimages/ever-upward/fonts/honestscript-regular-webfont.woff") format("woff");
  /* Modern Browsers */
  unicode-range: U+0020-007E;
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "just-lovely";
  src: url("https://www.weber.edu/wsuimages/FinancialAid/site/fonts/just-lovely.ttf");
  unicode-range: U+0020-007E;
}
